In [2]:
from sqlalchemy import create_engine

In [3]:
engine = create_engine('sqlite://', echo = False)
#engine = create_engine(r'sqlite:///C:\Users\lpalafox\Desktop\school.db', echo=True)

In [4]:
import pandas as pd
df = pd.DataFrame({'name' : ['User 1', 'User 2', 'User 3']})

In [14]:
df =pd.read_csv('estudiantes.csv')
df.to_sql('estudiantes', if_exists = 'replace', con = engine)

In [28]:
df2 = pd.read_sql("SELECT count(DISTINCT promedio) AS cnt FROM estudiantes WHERE login LIKE '%@up'", con = engine)

In [29]:
df2

   cnt
0    2